﻿@model IEnumerable<TodoTask>

@{
}

<h1>ToDoList</h1>

<p>
    @Html.ActionLink("Create Task", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.Id)
                </td>
                <td>
                    @task.Name
                </td>
                <td>
                    @task.Date
                </td>
                <td>
                    @task.Assignment.CreatedBy
                </td>
                <td>
                    @task.Assignment.AssignedTo
                </td>
                <td>
                    @task.Done
                </td>
                <td>
                    <a asp-controller="ToDoTask" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-controller="ToDoTask" asp-action="Details" asp-route-id="@task.Id" class="btn btn-warning">Details</a>
                </td>
                 <td>
                    <form class="mt-2" asp-controller="ToDoTask" asp-action="Delete" asp-route-id="@task.Id">
                        <div class="d-grid gap-2">
                            <input type="submit" value="Delete" class="btn btn-danger mb-2"
                               onclick="return confirm('Are you sure you want to delere post: @task.Name')" />
                        </div>
                    </form>
                </td>
              
            </tr>
            
        }
    </tbody>

</table>