*{
  box-sizing: border-box;
}

body{
  background-color: rgb(184, 225, 70);
}

/* header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  Nav*/

.nav_menu {
  display: flex;
  align-items: center;
  background-color: #1c8ed3;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.nav_menu h3 {
margin: 0;
}

.nav_menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5;
}

.nav_menu li {
  margin: 0 10px;
}

.nav_menu a {
  color: #fff;
/* text-decoration: none; */
}

.nav_menu a:hover {
    text-decoration: underline;
}

h1{
  text-align: center;
}

img{
    display: block;
    border-radius: 12%;
}

/* main */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.about_me{
  display: flex;
  font-size: 15px;
}

.about_me div{
  font-size: 13px;
  margin-left: 20px;
}

p{
  font-size: 18px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  font-size: 1.2em;
  margin: 20px auto;
}
  
.data tr:first-child {
  font-weight: bold;
}
  
.data {
  padding: 10px;
  text-align: center;
}

.data td {
  padding: 7px;
  border: 1px solid #100f0f;
}
  
.data tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Contacts */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts_title{
  font-size: 1.5em;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}


.contacts-container li {
  display: flex;
  gap: 4px;
  font-size: 16px;
}
  
