*{
  box-sizing: border-box;
}
  
body{
  background-color: rgb(184, 225, 70);
}

.feedback_form {
display: flex;
flex-direction: column;
align-items: center;
}

.feedback_form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.feedback_form label {
display: flex;
justify-content: center;
}

.feedback_form input,
.feedback_form select,
.feedback_form textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #571616;
  border-radius: 7px;
  font-size: 16px;
  flex: 1;
}

.feedback_form textarea {
  height: 150px;
}

.feedback_form input[type="submit"] {
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.feedback_form input:hover {
  background-color: #444;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}